#hero {
  min-height: 80vh;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 10vh;

  .content {
    width: 100%;
    .intro {
      font-size: 1.5rem;
    }
    .name {
      font-size: 5rem;
      margin-bottom: 2rem;
      color: white;
      text-shadow: black -2px 3px 2px;
    }
    .bio {
      width: 60%;
    }
  }
}
