// Puts links on left screen when screen is wide
@media only screen and (min-width: 676px) {
  #side-links {
    position: fixed;
    top: 65%;
    left: 0;
    transform: translateY(-50%);

    ul {
      display: flex;
      flex-direction: column;

      li {
        margin: 0.45rem 1rem;
        animation: shiftRight 2s;
        animation-fill-mode: backwards;
      }
    }
  }
}

// puts icons under when screen is small
@media only screen and (max-width: 675px) {
  #side-links {
    position: relative;
    width: 50%;
    margin: 2rem auto;

    ul {
      animation: shiftRight 2s;
      animation-fill-mode: backwards;
      display: flex;
      justify-content: space-around;
    }
  }
}

@keyframes shiftRight {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
