#about-me {
  min-height: 100vh;
  display: flex;
  align-items: center;

  h2 {
    color: white;
  }

  p {
    width: 60%;
  }

  p,
  ul {
    margin: 1.2rem 0;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    li {
      margin-bottom: 0.75rem;
    }
  }
}

@media only screen and (max-width: 830px) {
  #about-me p {
    width: 100%;
  }
}
