#margin-container {
	width: 75%;
	margin: auto;
}

.clickable-color {
	transition-duration: 0.3s;
}
.clickable-color.color-always {
	color: #ec4949;
}
.clickable-color.color-hover:hover {
	color: #ec4949 !important;
}

.clickable-color.color-hover-shadow:hover {
	box-shadow: #ec4949 5px 5px;
}

#about-me,
#projects {
	margin-bottom: 12.5rem;
}

#contact {
	margin-bottom: 5rem;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(8, 8, 8);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #ec4949;
	border-radius: 4px;
	transition: 0.3s ease;
}

@media only screen and (max-height: 360px) {
	#nav-bar {
		margin-top: 1rem;
	}
}

@media only screen and (max-height: 330px) {
	#contact {
		margin-bottom: 1.5rem;
	}
}

@media only screen and (max-width: 500px) {
	html {
		font-size: 13px;
	}
}

@media only screen and (max-width: 475px) {
	html {
		font-size: 12px;
	}
}

@media only screen and (max-width: 400px) {
	html {
		font-size: 9px;
	}
}
